# Build folder
build/
cmake-build-*/

# Pico compiled outputs
*.elf
*.bin
*.hex
*.uf2
*.map
*.dis

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode
.vscode/*
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Python cache (used by Pico tools)
__pycache__/
*.pyc

# Ninja
.ninja_log
.ninja_deps
build.ninja
